<%- include("../partials/header") %>
<h1 style="margin-top:100px"> This is Bootcamp! </h1>
<h2> Get your balls together </h2>
<a href="/campground"> Visit forts! </a>
<%- include("../partials/footer") %>